fieldset {
  border-width: 1px 0 0 0;
  padding-left: 0;
  padding-right: 0;
}

.meditor-block {
  ol, ul {
    li {
      margin-bottom: 0 !important;
    }
  }
}

[contenteditable] {
  outline: none;
}

#login {
  .form-errors {
    margin: $defaultPadding 0;
  }
}

.form-errors {
  @include reset-list;
  font-size: 14px;
  padding: 10px;
  margin: $defaultPadding;
  border: 1px solid #ff443a;
  background-color: #ffd7cf;

  &.inline-errors {
    margin: $defaultPadding 0;
  }

  li {
    font-weight: 700;
    ul {
      @include reset-list;
      font-size: 14px;
      li {
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }

  .form-errors-inline {
    @include reset-list;

    li {
      margin-left: 15px;
    }

    .inline-name {
      font-weight: 700;
    }
  }
}

form.save-update {
  .buttons-block {
    padding: $column-gutter/2;
    .button {
      margin-bottom: 0 !important;
      margin-right: 10px !important;
      @include border-radius(3px);
    }
  }
}

.current-file {
  img {
    max-width: 200px;
    height: auto;
  }
}

textarea {
  max-width: 100%;
}

form {
  .current-file-container {
    a {
      font-size: 12px;
      margin: 8px 0;
      color: #aaa;
    }
  }

  .form-inline {
    @include reset-list;

    &, li {
      outline: none;
    }

    li {
      margin-bottom: 10px;
    }
  }

  &.save-update {
    padding: 0;
    margin-top: 15px;

    .form-ul {
      padding: $defaultPadding;
      border-top: 1px solid #dddddd;

      &, li {
        outline: none;
      }
    }

    .form-block {
      padding: 0 $defaultPadding;
    }

    fieldset {
      padding: $defaultPadding;
      padding-top: $defaultPadding + 25px;
      position: relative;
      margin: 0;

      legend {
        position: absolute;
        top: 15px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
      }

      .form-ul, .form-block {
        padding: 0;
        border-top: none;
      }
    }

    select, input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="hidden"] {
      width: 50%;
    }

    .inline-form {
      padding: $defaultPadding;

      .form-inline-section {
        padding: 5px 0 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid $clouds;

        select, input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="hidden"] {
          width: 100%;
        }

        a.current-file {
          @include ellipsis();
          display: block;
        }

        .form-block {
          margin: 0;
        }

        & > table {
          margin: 0;

          & > tr {

            &:hover {
              background-color: transparent;
            }

            & > td {
              vertical-align: top;
              padding: 0 6px;

              p {
                font-size: 14px;
                line-height: 1.2;
              }

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }

            }
          }
        }
      }

      .inline-add {
        margin-top: 10px !important;
        display: block;
        border: 1px solid #ccc;
        padding: 6px;
        text-align: center;
        color: #353535;
        background-color: #f4f4f4;
      }
    }

    .inline-source {
      background-color: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      display: none;
    }
  }

  .form-block {
    margin-bottom: 15px;
  }

  label {
    font-size: 13px;
    color: $mediumGrey;
    margin-bottom: 4px;
  }

  ul.error {
    list-style: none;
    margin: 0;
    color: $validationColor;
    font-size: 13px;
    font-style: italic;

    li {
      display: block;
      margin-top: 6px;

      &:before {
        font-family: 'glyphico';
        content: "\e683";
        font-weight: normal;
        font-style: normal;
        margin-right: 10px;
      }
    }
  }

  select {
    &[multiple] {
      min-height: 120px;
      height: auto;
    }
  }

  input, select {
    margin: 0 !important;
  }

  .form-ul {
    @include reset-list;
    li {
      margin-bottom: 10px;
    }
  }

  .form-inline-table {
    tbody, tfoot, thead {
      tr {
        th, td {
          vertical-align: top;

          &.actions {
            vertical-align: middle;
          }

          label {
            color: $concrete;
          }
        }
      }
    }
  }

  .form-hint-text {
    font-size: 13px;
    color: $midGrey;
  }
}

.errorMessage {
  color: $pomegranate;
}

.form-label {
  margin-bottom: 0;
  label {
    color: $concrete;
  }
}

textarea {
  min-height: 120px;
}

[disabled] {
  cursor: not-allowed !important;
}

.sorting {
  text-align: center;
}

.form-inline-delete {
  @include float-right;
  color: #ccc;
  font-size: 24px;
  font-weight: 700;
  font-family: arial;
  &:hover {
    color: #a00;
  }
}

#filter-form {
  padding: 0 20px;
  margin: 20px 0;
}

.tabs {
  outline: none;
  &, dd, dt, ul, .tab-title {
    &, a {
      outline: none;
    }
  }

  dd, .tab-title {
    margin-right: 10px;
    border: 1px solid transparent;

    a {
      background-color: transparent;
      padding: 5px 20px;
      font-size: 1rem;

      &:hover {
        background-color: #f4f4f4;
      }
    }

    &.active {
      border-color: #ccc;
    }
  }
}

.tabs-content {
  &, .content {
    outline: none;
  }
}

.content-wrap {
  table {
    tr {
      th, td {
        padding: 8px 0;
      }
    }
  }
}