.model-info {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 14px;

  .row {
    color: #515357;

    .field-value, .field-label{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}