#sidebar {
  @include box-sizing(border-box);
  width: $sidebarWidth;
  min-width: $sidebarWidth;
  vertical-align: top;
  padding: 0;
  background-color: $grey;

  #sidebar-menu {
    @include reset-list;
    padding-bottom: 20px;

    & > li {
      margin-bottom: 10px;
      font-weight: 300;
    }

    li {
      .divider {
        display: block;
        height: 1px;
        margin: 0 $defaultPadding;
        background-color: $borderColor;
      }

      & > span {
        font-size: 15px;
        text-transform: capitalize;
        color: $darkGrey;
        background-color: $grey;

        $moduleNameHeight: 24px;
        $imageSize: 16px;

        .module-name {
          color: $darkGrey;
          display: block;
          height: $moduleNameHeight;
          line-height: $moduleNameHeight;
          padding-left: $defaultPadding;
          padding-right: $defaultPadding;
        }

        .module-image {
          width: 16px;
          height: $moduleNameHeight;
          display: inline-block;
          float: left;
          margin-right: 7px;
        }
      }

      ul {
        @include reset-list;
        margin-top: 8px;
        display: inline-block;
        width: 100%;

        li {
          position: relative;
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          @include box-sizing(border-box);

          &, & a {
            color: #333539;
          }

          &.active, &:hover {
            $borderLeftSize: 4px;
            border-left: 4px solid $blue;

            a {
              padding-left: 54px - $borderLeftSize;
              color: $blue;

              i {
                color: $blue;
              }
            }
          }

          a {
            font-size: 13px;
            display: block;
            padding-left: 54px;
            font-weight: normal;

            i {
              width: 25px;
              display: inline-block;
              color: darken($midGrey, 10%);
              position: relative;
              top: 2px;
              font-size: 17px;
            }
          }
        }
      }

      &:last-child {
        .divider {
          display: none;
        }
      }
    }
  }
}

$modules: core faq mail meta menu offices partners photo pages redirect reviews sites slider user blog files translate catalog calc;

.module-image {
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-image: url('../images/modules/default.png');
  background-repeat: no-repeat;

  @each $module in $modules {
    &.#{$module} {
      background-image: url('../images/modules/#{$module}.png');
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
  .module-image {
    background-image: url('../images/modules/default@2x.png');

    @each $module in $modules {
      &.#{$module} {
        background-image: url('../images/modules/#{$module}.png');
      }
    }
  }
}